name: env-glr

channels:
  - conda-forge
  - pytorch

dependencies:
  - python=3.9
  - pip

  # Core scientific python
  - numpy
  
  # Plotting
  - matplotlib

  # Machine Learning
  - pytorch::pytorch
  - pytorch::torchvision
  - cudatoolkit=11.3

  # Jupyter Environment
  - papermill
  - autopep8
  - jupyterlab
  - notebook
  - ipython
  - jupyter_contrib_nbextensions
  - nbclean
  - nbresuse

  # pip requirements for git hosted package
  - pip:
      - wheel
      - buildtools
      - git+https://github.com/iacobo/avalanche.git
